*{
    font-family: fantasy;
   
}
#LoginContainer{
    margin-top: 2%;
    border:1px solid rgb(60, 60, 60);
    border-radius: 15px;
    font-size: 20px;
}
.Login{
    display:flex;
    justify-content:center;
    margin-top: 30px;
    font-size: 50px;
}
.form-label {
    margin-top:40px;
    margin-left: 29px;
}
#Button{
    display: flex;
    margin-top: 40px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}
.form-control{
    margin-top: 7px;
    height: 50px;
    width: 90%;
    margin-left: 4.4%;
}

.form-control:focus{
    border: 1px solid rgb(0, 0, 0);
}
.form-control:hover{
    border: 1px solid rgb(0, 0, 0);
}
#Icon{
    margin-left: 46%;
    margin-top: 7%;
}
.text-center{
    margin-top: 20px;
    font-size: 20px;
}